body {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-weight: 400;
  color: black;
  letter-spacing: 2px;
}

/* Buttons */

.btn-outline-primary {
  border-color: black;
  color: black;
}

.btn-outline-primary:hover {
  background-color: black;
  border-color: black;
  box-shadow: 5px 2px aquamarine;
}

.btn-primary {
  background-color: black;
  border-color: aquamarine;
  color: aquamarine;
  margin-bottom: 2rem;
}

.btn-primary:hover {
  background-color: aquamarine;
  border-color: black;
  color: black;
}

/* Container */

.container-fluid {
  text-align: center;
  margin: auto;
}

/* Navigation bar */

.navbar {
  padding: 0 0 4.5rem;
  float: right;
  margin: none;
}

.nav-item {
  padding: 0 1rem;
  margin-right: 1rem;
  color: black;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}

.navbar-light .navbar-nav .nav-link:hover {
  margin-top: 2px;
  border-bottom: 2px aquamarine solid;
}

.navbar-toggler {
  border: none;
  width: 3rem;
  padding: 0 2rem 0 0;
}

#cart {
  color: black;
}

#cart:hover {
  color: #fff;
}

/* Header Section */

#logo {
  text-decoration: none;
  color: black;
}

#title-image {
  width: 65%;
  border: 5px black solid;
  box-shadow: 10px 10px black;
  margin-bottom: 4rem;
}

#title-image:hover {
  margin-top: 5px;
  border: 5px aquamarine solid;
  box-shadow: 12px 12px aquamarine;
}

.title-heading-top {
  margin: auto;
}

#image-title {
  font-family: "Black Han Sans", sans-serif;
  font-size: 10rem;
  text-align: center;
  text-shadow: 5px 5px aquamarine;
  margin: 0;
}

#box-heading {
  margin-top: 10%;
  padding-top: 8px;
}

.wave {
  position: absolute;
  right: 100px;
  top: 450px;
  z-index: 2;
}

.circle {
  position: absolute;
  left: 100px;
  top: 100px;
  z-index: -1;
}

@media screen and (max-width: 992px) {
  #title-image {
    width: 100%;
    border: 5px black solid;
    box-shadow: 10px 10px black;
    margin-bottom: 2rem;
  }

  #title-image:hover {
    margin-top: 2px;
    border: 5px aquamarine solid;
    box-shadow: 12px 12px aquamarine;
  }

  .title-heading-top {
    margin: auto;
  }

  #image-title {
    font-family: "Black Han Sans", sans-serif;
    font-size: 8rem;
    text-align: center;
    text-shadow: 5px 5px aquamarine;
  }

  #box-heading {
    margin-top: 10%;
    padding-top: 8px;
  }

  .wave {
    visibility: hidden;
  }

  .circle {
    position: absolute;
    left: 20px;
    top: 40px;
    z-index: -1;

  }

  .navbar-toggler {
    border: none;
    width: 3rem;
    padding: 0 1rem 0 0;
    z-index: 1000;
  }

}

@media screen and (max-width: 600px) {
  #title-image {
    width: 100%;
    border: 5px black solid;
    box-shadow: 10px 10px black;
    margin-bottom: 4rem;
  }

  #title-image:hover {
    margin-top: 5px;
    border: 5px aquamarine solid;
    box-shadow: 12px 12px aquamarine;
  }

  .title-heading-top {
    margin: auto;
  }

  #image-title {
    font-family: "Black Han Sans", sans-serif;
    font-size: 5rem;
    text-align: center;
    text-shadow: 5px 5px aquamarine;
    margin: 0;
  }

  #box-heading {
    margin-top: 10%;
    padding-top: 8px;
  }

  .wave {
    position: absolute;
    right: 100px;
    top: 500px;
    z-index: 2;
  }

  .circle {
    z-index: -1;
  }

  .navbar-toggler {
    border: none;
    width: 3rem;
    padding: 0;
    margin: 0;
    z-index: 1000;
  }

  .container-fluid {
    text-align: center;
    margin: 0;
  }
}

/* Gallery Section */

#gallery .container-fluid {
  padding: 10% 25% 10% 20%;
  text-align: left;
}

.section-content img {
  width: 200px;
  margin: 40px;
  border: 5px black solid;
  box-shadow: 5px 0 #7fffd4;
}

.section-content img:hover {
  margin-top: 40px;
  border: 5px black solid;
  box-shadow: 0 10px aquamarine;
}

@media screen and (max-width: 992px) {
  #gallery .container-fluid {
    padding: 10%%;
    text-align: left;
  }

  .section-content img {
    width: 150px;
    margin: 40px;
    border: 5px black solid;
    box-shadow: 5px 0 #7fffd4;
  }

  .section-content img:hover {
    margin-top: 40px;
    border: 5px black solid;
    box-shadow: 0 10px aquamarine;
  }

}

@media screen and (max-width: 600px) {
  #gallery .container-fluid {
    padding: 10%;
    text-align: left;
  }

  .section-content img {
    width: 150px;
    margin: 40px;
    border: 5px black solid;
    box-shadow: 5px 0 #7fffd4;
  }

  .section-content img:hover {
    margin-top: 40px;
    border: 5px black solid;
    box-shadow: 0 10px aquamarine;
  }

}


/* CONTACT Section */

#contact .container-fluid {
  padding: 5% 20%;
  text-align: center;
}

.section-title {
  color: black;
  text-align: center;
}

.sec-title {
  border-bottom: 5px aquamarine solid;
  margin-bottom: 4rem;
}

.section-content {
  padding: 0 3rem;
  line-height: 1.5;
}

textarea {
  border-color: lightgray;
  border-radius: 5px;
}

label {
  margin: 1.5rem 0;
}

.info {
  margin: auto;
  padding: 0 20%;
}

.userInfo {
  padding: 0 2rem;
}

.userContent {
  padding: 0 0 2rem 0;
}

.box-contact {
  width: 97%;
  border: 5px black solid;
  box-shadow: 10px 10px black;
  margin: auto;
}

@media screen and (max-width: 992px) {

  #contact .container-fluid {
    padding: 5% 20%;
    text-align: center;
  }

  .section-title {
    color: black;
    text-align: center;
  }

  .sec-title {
    border-bottom: 5px aquamarine solid;
    margin-bottom: 4rem;
  }

  .section-content {
    padding: 0 3rem;
    line-height: 1.5;
  }

  textarea {
    border-color: lightgray;
    border-radius: 5px;
  }

  label {
    margin: 1rem 0;
  }

  .info {
    margin: auto;
    padding: 0 10%;
  }

  .userInfo {
    padding: 0 1rem;
  }

  .userContent {
    padding: 0 0 1rem 0;
  }

  .box-contact {
    width: 97%;
    border: 5px black solid;
    box-shadow: 10px 10px black;
    margin: auto;
  }
}


@media screen and (max-width: 600px) {

  #contact .container-fluid {
    padding: 0 5%;
    text-align: center;
  }

  .section-title {
    color: black;
    text-align: center;
  }

  .sec-title {
    border-bottom: 5px aquamarine solid;
    margin-bottom: 4rem;
  }

  .section-content {
    padding: 0;
    line-height: 1.5;
  }

  textarea {
    border-color: lightgray;
    border-radius: 5px;
  }

  label {
    margin: 1.5rem 0;
  }

  .info {
    margin: auto;
    padding: 0 10%;
  }

  .userInfo {
    padding: 0 1rem;
  }

  .userContent {
    padding: 0 0 1rem 0;
  }

  .box-contact {
    width: 97%;
    border: 5px black solid;
    box-shadow: 10px 10px black;
    margin: auto;
  }
}

/* Footer Section */
#footer {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 100px;
  margin: 5rem 0;
  font-size: 14px;
}

.social-icon {
  margin: 20px 10px;
}

.scrolltop {
  display: none;
  position: fixed;
  right: 30px;
  bottom: 50px;
  z-index: 1030;
  font-size: 1.875rem;
  color: #868e96;
  transition: all 0.5s ease-in-out;
  opacity: 0.8;
}


.scrolltop {
  display: none;
  position: fixed;
  right: 30px;
  bottom: 50px;
  z-index: 1030;
  font-size: 1.875rem;
  color: #868e96;
  transition: all 0.5s ease-in-out;
  opacity: 0.8;
}

.scrolltop:hover,
.scrolltop:focus {
  color: aquamarine;
  transition: all 0.5s ease-in-out;
}